black==24.3.0
flake8==7.0.0
mypy==1.9.0
isort==5.13.2
moto[all]==5.0.3
pytest==8.1.1
pytest-mock==3.14.0
apache-airflow-client==2.8.0
yoyo-migrations==8.2.0
duckdb==0.9.2
streamlit==1.32.2
gql[all]==3.5.0